body {
    height: 100%;
    margin: 0;
    padding: 0
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

a { color:black} 
a:link { text-decoration: none; }
a:visited { text-decoration: none;  }

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #DCDFF1;
    padding: 80px;
}

.about-container img {
    max-width: 100%
}

.about-container h2 {
    padding: 20px;
}

.profile-image {
    flex-basis: 40%
}

.header-div {
    display: flex;
    /* grow and shrink */
    flex: 1;
    /* on opposite ends */
    justify-content: space-between;
    background-color: #9EC5AB;
    color: #01200F;
    padding: 50px;
}

.header-div h1 {
    font-size: 100px;
}

.header-div h2 {
    font-size: 25px;
}

.nav-bar {
    height: 80px;
    /* display: flex; */
    width: 50%;

}

.navbar-ul {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: baseline;
    justify-content: center;
}

.projects img {
    border-radius: 50px;
}

.projects h1 {
    text-align:start
}

.projects h2 {
    text-align:end
}

.projects img {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    padding: 30px;
    flex-basis: 40%
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px;
}

.skills-header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.skills img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
}


.footer-div {
    display: flex;
    text-align: center;
    justify-content: center;
}


.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contact a {
    padding: 40px;
    
}